<!--<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle toggle-sidebar-left">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>

  	<div class="navbar-header navbar-right">
  		<button type="button" class="navbar-toggle toggle-sidebar-right">
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		</button>
  		<a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
  			<span class="glyphicon glyphicon-home"></span> Gulp Angular
  		</a>
  	</div>

  </div>
</nav>-->

<nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<button type="button" id="menu-toggle-left" class="navbar-toggle visible navbar-btn navbar-left">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="navbar-right">
				<ul class="nav navbar-nav right-space">
					<li><a ng-href="#"><i class="fa fa-arrows-alt fa-lg"></i></a></li>
					<li><a ng-href="#"><i class="fa fa-cog fa-lg"></i></a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							George Wismer <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>

				<a class="navbar-brand left-space" href="#">DIGIMEDIA</a>
				<p class="navbar-text">professional</p>

				<button id="menu-toggle-right" type="button" class="navbar-toggle visible navbar-btn">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>

	</div>
</nav>

<div id="wrapper" class="active-right active-left">
	<!-- Sidebar -->
	<div id="sidebar-wrapper-left">
		<nav id="spy">
			<ul class="sidebar-nav nav">
				<li ui-sref-active="active">
					<a href="#" ui-sref="home"><span class="fa fa-home solo">Spots</span></a>
				</li>
				<li ui-sref-active="active">
					<a href="#" ui-sref="playlists">
						<span class="fa fa-book solo">Playlists</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Sidebar -->
	<div id="sidebar-wrapper-right">
		<nav id="spy">
			<ul class="sidebar-nav nav">
				<!--<li class="sidebar-brand">
					<a href="#home"><span class="fa fa-home solo">First link</span></a>
				</li>-->
				<li>
					<div class="nav-item">
						<i class="nav-icon flag-GB solo"></i>

						<label class="radio">
							<input type="radio" ng-model="vm.language" value="en-GB">
							English
						</label>
					</div>
				</li>

				<li>
					<div class="nav-item">
						<i class="nav-icon flag-DE solo"></i>

						<label class="radio">
							<input type="radio" ng-model="vm.language" value="de-DE">
							German
						</label>
					</div>
				</li>

				<li>
					<div class="nav-item">
						<i class="nav-icon flag-FR solo"></i>

						<label class="radio">
							<input type="radio" ng-model="vm.language" value="fr-FR">
							France
						</label>
					</div>
				</li>

				<li>
					<div class="nav-item">
						<i class="nav-icon flag-ES solo"></i>

						<label class="radio">
							<input type="radio" ng-model="vm.language" value="es-ES">
							Spanish
						</label>
					</div>
				</li>

				<!--<li>
					<a href="#anch4" data-scroll>
						<span class="fa fa-anchor solo">Anchor 4</span>
					</a>
				</li>-->
			</ul>
		</nav>
	</div>

	<!-- Page content -->
	<div id="page-content-wrapper" ng-transclude>
		<!--<div ui-view></div>-->
	</div>

</div>

