<nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<button type="button" id="menu-toggle-left" class="navbar-toggle visible navbar-btn navbar-left">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="navbar-right">
				<ul class="nav navbar-nav right-space">
					<li><a href="#" ng-click="navbar.toggleFullscreen()"><i class="fa fa-arrows-alt fa-lg"></i></a></li>

					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-cog fa-lg"></i>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="theme in navbar.themes"  ng-class="{active: navbar.selectedTheme == theme.id}">
								<a href ng-click="navbar.setTheme(theme.id)">
									{{theme.name}}
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							George Wismer <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href>Logout</a></li>
						</ul>
					</li>
				</ul>

				<a class="navbar-brand left-space" href>DIGIMEDIA</a>
				<p class="navbar-text">professional</p>

				<button id="menu-toggle-right" type="button" class="navbar-toggle visible navbar-btn">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>

	</div>
</nav>

<div id="wrapper" class="active-right active-left">
	<!-- Sidebar -->
	<div id="sidebar-wrapper-left">
		<nav id="spy">
			<ul class="sidebar-nav nav">
				<li ui-sref-active="active">
					<a href ui-sref="home"><span class="fa fa-home solo">{{"Spotverwaltung" | translate}}</span></a>
				</li>
				<li ui-sref-active="active">
					<a href ui-sref="playlists">
						<span class="fa fa-book solo">{{"Abspielliste" | translate}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Sidebar -->
	<div id="sidebar-wrapper-right">
		<nav id="spy">
			<ul class="sidebar-nav nav">
				<!--<li class="sidebar-brand">
					<a href="#home"><span class="fa fa-home solo">First link</span></a>
				</li>-->


				<li ng-repeat="locale in navbar.locales">
					<div class="nav-item">
						<i class="nav-icon {{locale.flag}} solo"></i>

						<label class="radio">
							<input type="radio" name="language" ng-model="navbar.currentLocale" ng-change="navbar.changeLocale(locale.id)" ng-value="locale.id">
							{{locale.name | translate}}
						</label>
					</div>
				</li>

			</ul>
		</nav>
	</div>

	<!-- Page content -->
	<div id="page-content-wrapper"  class="ui-view-container" ng-transclude>
	</div>

</div>

