.edit-spot {
	background-color: #e7eaeb;

	.edit-spot-form{
		margin-top: 0px;
		margin-bottom: 5px;

		.form-group{
			margin-top: 8px;
			margin-bottom: 10px;
		}

		textarea {
			resize: none;
		}

		.upload-button-container{
			margin-top: 0px;
		}
	}

	.drop-box{
		border: 1px dashed #808080;
		border-radius:2px;

		min-height: 30px;
		text-align: left;
		margin: 0;
		padding: 0 5px;
	}

	.file{
		position:relative;

		.delete-file{
			position:absolute;
			top:0;
			right:0;

			color:red;

			display:none;
		}

		&:hover{
			opacity:0.7;

			.delete-file{
				display:block;
			}
		}
	}
}
