<div class="edit-spot">
	<div class="modal-header k-header">
		<h3 class="modal-title">
			<span ng-if="editSpot.editMode">{{"Spot ändern" | translate}}</span>
			<span ng-if="!editSpot.editMode">{{"Neu Spot" | translate}}</span>
		</h3>
	</div>

	<form id="editSpotForm" name="editSpotForm" kendo-validator="editSpot.validator" k-options="editSpot.validatorOptions" 
		  ng-submit="editSpot.submit($event)" novalidate>
		<!--<form name="editSpotForm" ng-submit="submit($event)" novalidate>-->
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-8">
					<div class="row condensed-grid  edit-spot-form k-content">
						<div class="form-group col-sm-10">
							<label class="control-label">{{"Spot Name" | translate}}</label>

							<div class="row">
								<div class="col-sm-3">
									<select name="type" required
											kendo-drop-down-list
											k-data-text-field="'name'"
											k-data-value-field="'id'"
											k-data-source="editSpot.typeDataSource"
											ng-model="editSpot.spot.type"
											k-rebind="editSpot.typeDataSource"
											style="width: 100%"></select>
									<!--<div class="form-input-error" ng-show="(editSpotForm.type.$dirty || submitted) && editSpotForm.type.$error.required">
										Required
									</div>-->
								</div>

								<div class="col-sm-2">
									<select name="language" required
											kendo-drop-down-list
											k-data-text-field="'name'"
											k-data-value-field="'id'"
											k-data-source="editSpot.languageDataSource"
											ng-model="editSpot.spot.language"
											k-rebind="editSpot.languageDataSource"
											style="width: 100%"></select>
								</div>

								<div class="col-sm-2">
									<input name="nameThirdOption" required
										   type="text"
										   ng-model="editSpot.spot.nameThirdOption"
										   class="form-control k-textbox input-sm" placeholder="">
								</div>

								<div class="col-sm-5">
									<input name="name" required
										   type="text"
										   ng-model="editSpot.spot.name"
										   class="form-control k-textbox input-sm" placeholder="">
								</div>
							</div>
						</div>

						<div class="form-group col-sm-2">
							<label class="control-label">{{"Status" | translate}}</label>

							<div class="row">
								<div class="col-sm-12">
									<select name="status" required
											kendo-drop-down-list
											k-data-text-field="'name'"
											k-data-value-field="'id'"
											k-data-source="editSpot.statusDataSource"
											ng-model="editSpot.spot.status"
											k-rebind="editSpot.statusDataSource"
											style="width: 100%"></select>
								</div>
							</div>

						</div>
					</div>

					<div class="row condensed-grid edit-spot-form k-content">
						<div class="col-sm-5 form-group">
							<label class="control-label">{{"Kampagne" | translate}}</label>

							<div>
								<input type="text"
									   ng-model="editSpot.spot.campaign"
									   class="form-control k-textbox input-sm" placeholder="">
							</div>
						</div>

						<div class="form-group col-sm-7">
							<label class="control-label">HC</label>

							<div>
								<select name="hc" required
										options="editSpot.hcDropDownOptions"
										kendo-drop-down-list
										ng-model="editSpot.spot.hc"
										k-rebind="editSpot.hcDropDownOptions"
										style="width: 100%"></select>
							</div>
						</div>
					</div>

					<div class="row condensed-grid edit-spot-form  k-content">
						<div class="form-group col-sm-12">
							<label class="control-label">{{"Spot thema" | translate}}</label>

							<div>
								<input type="text"
									   ng-model="editSpot.spot.theme"
									   class="form-control k-textbox input-sm" placeholder="">
							</div>
						</div>
					</div>

					<div class="row condensed-grid edit-spot-form  k-content">
						<div class="form-group col-sm-12">
							<label class="control-label">{{"Spot text" | translate}}</label>

							<div>
								<textarea type="text"
										  ng-model="editSpot.spot.text"
										  rows="3"
										  class="form-control k-textbox input-sm" placeholder=""></textarea>
							</div>
						</div>
					</div>

					<div class="row condensed-grid edit-spot-form k-content">
						<div class="form-group col-sm-6">
							<label class="control-label">{{"Start Datum" | translate}}</label>

							<div>
								<input name="startDate" required
									kendo-date-picker
									k-ng-model="editSpot.spot.startDate"
									k-format="'dd.MM.yyyy'"
									style="width: 100%;" />
								<span class="k-invalid-msg" data-for="startDate"></span>
							</div>
						</div>

						<div class="form-group col-sm-6">
							<label class="control-label">{{"End Datum" | translate}}</label>

							<div>
								<input name="endDate" required
									kendo-date-picker
									k-ng-model="editSpot.spot.endDate"
									k-format="'dd.MM.yyyy'"
									style="width: 100%;" />
								<span class="k-invalid-msg" data-for="endDate"></span>
							</div>
						</div>
					</div>

					<div class="row condensed-grid edit-spot-form  k-content">
						<div class="form-group col-sm-2">
							<div class="upload-button-container">
								<button class="k-button pull-left" type="button" ngf-select="editSpot.filesList.addFiles($files)" ngf-multiple="true">
									{{"Audofile laden" | translate}}...
								</button>
							</div>
						</div>
						<div class="form-group col-sm-10">
							<ul class="list-unstyled drop-box" ngf-drop="editSpot.filesList.addFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true">
								<li ng-repeat="f in editSpot.filesList.files"
									class="file">
									{{f.name}} {{f.$error}} {{f.$errorParam}}

									<a class="delete-file" href ng-click=" editSpot.filesList.deleteFile(f)">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="row condensed-grid edit-spot-form k-content">
						<div class="col-sm-5 col-sm-offset-1">
							<div class="form-group">
								<label class="control-label">{{"Format" | translate}}</label>
								<div class="validation-message-container">
									<span class="k-invalid-msg" data-for="format"></span>
								</div>

								<div class="checkbox" ng-repeat="item in editSpot.formats">
									<label>
										<input name="format" type="checkbox" ng-value="item.id" ng-model="item.selected">
										{{item.name}}
									</label>
								</div>
							</div>
						</div>

						<div class="edit-spot-form col-sm-5 col-sm-offset-1">
							<div class="form-group">
								<label class="control-label">{{"Regionen" | translate}}</label>
								<div class="validation-message-container">
									<span class="k-invalid-msg" data-for="region"></span>
								</div>

								<div class="checkbox" ng-repeat="item in editSpot.regions">
									<label>
										<input name="region" type="checkbox" ng-value="item.id" ng-model="item.selected">
										{{item.name}}
									</label>
								</div>
								</a>
							</div>
						</div>

					</div>

					<div class="row condensed-grid edit-spot-form k-content">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label">VST</label>

								<div>
									<textarea type="text"
											  ng-model="editSpot.spot.vst"
											  rows="4"
											  class="form-control k-textbox input-sm" placeholder=""></textarea>
								</div>
							</div>
						</div>
						<div class="col-sm-12 form-group">
							<button class="k-button">{{"Einfügen" | translate}}</button>
						</div>

					</div>

				</div>

			</div>
		</div>

		<div class="modal-footer k-content">
			<button class="k-button k-primary" style="margin-right: 5px;" type="submit">{{"Speichern" | translate}}</button>

			<button class="k-button btn-warning" type="button" ng-click="editSpot.cancel()">{{"Abbrechen" | translate}}</button>
		</div>
	</form>
</div>

